<header class="site-header">
    <div class="container">
      <nav class="nav">
        
          <ul class="menu">
            <li><a href="#">Rental</a>
              <ul class="submenu">
                <li><a href="#">Urban Bike</a></li>
                <li><a href="#">Tandem Bike</a></li>
                <li><a href="#">Kids Bike</a></li>
                <li><a href="#">Ecargo Bike</a></li>
                <li><a href="#">Electric Bike</a></li>
                <li><a href="#">Electric Scooters</a></li>
                <li><a href="#">baby Bike Seat</a></li>
              </ul>
            </li>
            <li><a href="#">Tours</a>
              <ul class="submenu">
                <li><a href="#">Tour Overview</a></li>
                <li><a href="#">Happy City Tour</a></li>
                <li><a href="#">Happy Tour Gaudi & Modernista</a></li>
                <li><a href="#">Happy Beach Tours</a></li>
                <li><a href="#">Costum Private Tours</a></li>
              </ul>
            </li>
            <li><a href="#">Shop</a>
              <ul class="submenu">
                <li><a href="#">New eCargo & Cargo Bikes</a></li>
                <li><a href="#">Bikeshop</a></li>
                <li><a href="#">Workshop</a></li>
              </ul>
            </li>
            <li><a href="#">About us</a>
              <ul class="submenu">
                <li><a href="#">Partners</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">(+34) 933 28 58 34</a></li>
            <li><a href="#">My Account</a></li>
          </ul>
      </nav>
    </div>
  </header>