<header class="site-header">
    <div class="container">
      <nav class="nav">
        
          <ul class="menu">
            <li><a href="#">Rental</a>
              <ul class="submenu">
                <li><a href="http://localhost:3000/urban-bike">Urban Bike</a></li>
                <li><a href="http://localhost:3000/tandem-bike.ejs">Tandem Bike</a></li>
                <li><a href="http://localhost:3000/kids-bike">Kids Bike</a></li>
                <li><a href="http://localhost:3000/ecargo">Ecargo Bike</a></li>
                <li><a href="http://localhost:3000/electric">Electric Bike</a></li>
                <li><a href="http://localhost:3000/electric-scooter">Electric Scooters</a></li>
                <li><a href="http://localhost:3000/baby-seats">baby Bike Seat</a></li>
              </ul>
            </li>
            <li><a href="#">Tours</a>
              <ul class="submenu">
                <li><a href="http://localhost:3000/tour-overview#">Tour Overview</a></li>
                <li><a href="http://localhost:3000/happy-city-tour">Happy City Tour</a></li>
                <li><a href="http://localhost:3000/happy-gaudi-tour">Happy Tour Gaudi & Modernista</a></li>
                <li><a href="http://localhost:3000/happy-beach-tour">Happy Beach Tours</a></li>
                <li><a href="http://localhost:3000/custom-private-tours.ejs">Costum Private Tours</a></li>
              </ul>
            </li>
            <li><a href="#">Shop</a>
              <ul class="submenu">
                <li><a href="https://happycargobike.com/">New eCargo & Cargo Bikes</a></li>
                <li><a href="https://happycargobike.com/">Bikeshop</a></li>
                <li><a href="https://happyrentalbike.com/bike-repair-shop/">Workshop</a></li>
              </ul>
            </li>
            <li><a href="#">About us</a>
              <ul class="submenu">
                <li><a href="#">Partners</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">(+34) 933 28 58 34</a></li>
            <li><a href="#">My Account</a></li>
          </ul>
      </nav>
    </div>
  </header>