<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kids Bike Rental</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div>
    <%- include('partials/header') %>

    <main>
      <div class="img-wrapper">
        <img src="aboutus1.webp" alt="aboutus1" style="padding:20px;border-radius:10px;overflow:hidden;display:block;">
      </div>
      <h3 style="color: #5cb245;">Happy Rental Bike Barcelona offers the best means to ride and visit Barcelona for both adults and children.</h3><br>
      

<h4><b>FRIENDLY AND SUSTAINABLE:</b></h4>

Cycling is a fun, efficient and easy way of getting around Barcelona. Renting a bike with us is a once-in-lifetime experience. Forget about parking problems and actively participate in the drive against pollution and traffic jams.

The weather in Barcelona consists of about 300 sunny days a year. The local temperatures range between 10°C and 36°C, depending on the time of the year. With its many cycling lanes, wide open squares and long beach front to pedal along, Barcelona is perfectly situated for the use of bicycles.

<h4><b>BIKES AND ACCESSORIES:</b></h4>

We rent out original Belgian and Dutch bikes ; coated in a discrete layer of black or yellow paint, the bikes are devoid of garish colors or advertisements. Our varied range contains all you need to make the whole family enjoy the trip: kid bikes, trailer bikes, cargo bikes and baby seats.

<h4><b>LOCATION</b></h4>
We are located near Arc de Triomf and almost in front of the Ciutadella Park, which allows easy access by metro, bus or on foot.

<h4><b>BIKE SHOP AND BIKE REPAIR SHOP:</b></h4>
We also sell, repair and restore bikes and have a large stock of vintage bikes on permanent display. Visit our <a href="https://happyrentalbike.com/bike-repair-shop/">Shop</a> for more information.
    </main>

    <%- include('partials/footer') %>
    
  </div>

  <script src="script.js"></script>
</body>
</html>
