<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Custom Private Tours</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div>
    <%- include('partials/header') %>

    <main>
      <div style="margin:20px;">
        <h1 style="color: #5cb245;">Custom Private Tours</h1><br><br>
      
          Discover Barcelona through our ''Tours'' bike rides: they all are well planned. We offer different itineraries and points of interest to make your stay as pleasant as possible. Barcelona is increasingly dedicated to welcoming bicycles. Compose your route according to the different points of interest we offer you and according to your mood or availability or even on the spur of the moment. Will you be alone, accompanied by children or not?<br>
          Is this your first visit to Barcelona?<br>
          How do you define yourself:<br>
          -cool and casual?<br>
          -athletic?<br>
          -living the good life?<br>
          -Bar and Tapas<br>
          Think about it and describe in a few words the kind or style of ride you would like to take. (Yes, we are curious, but this is so we can best advise you on your choice of a circuit)!<br>
          We also offer different routes and points of interest to enhance your tour. As you can imagine, all the tours are organised to ensure you have great memories of your visit to Barcelona. This is also the reason why we do not want more than ten people per group. Choose your departure time according to our winter and summer opening and closing hours.<br>

          -Maximum group size is ten people so that everyone can make the most of their visit.<br>
          -Each tour starts from and ends at our rental and sales point, at two steps of the Ciutadella Park (calle Roger de Flor, 3).<br>
          -Choose your departure day and time according to our schedules: winter from 10:00 till 20:00 summer from 9:00 till 21:00.<br> We're looking forward to seeing you.<br><br>
      </div>
    </main>

    <%- include('partials/footer') %>
    
  </div>

  <script src="script.js"></script>
</body>
</html>
