<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kids Bike Rental</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div>
    <%- include('partials/header') %>

    <main>
      <div class="flex-container">
        <div class="bike-images">
          <img src="scooter1.webp" alt="scooter1"><br>
          <img src="scooter2.webp" alt="scooter2"><br>
          <img src="scooter3.webp" alt="scooter3"><br>
          <img src="scooter4.webp" alt="scooter4"><br>
          <img src="scooter5.webp" alt="scooter5"><br>
          <img src="scooter6.webp" alt="scooter6"><br>
        </div>
        
        <div class="flex-child">
          <h1 style="color: #5cb245;">Scooter Segway Max</h1><br><br>

          The Segway Max is an electric scooter with a range of approximately 30 km. It can be hired from Happy Rental Bike through its app, which can be downloaded on all platforms such as Android and Apple.
          This will allow you to manage your scooter, switch it on, lock/unlock it, view the routes travelled and recommended tourist routes.<br>

          Please note:<br>
          The electric scooter is hired with a helmet. According to the VMP regulations in Barcelona, wearing a helmet is compulsory!<br>
          Failure to comply with the VMP regulations may result in a fine of 250 to 500 euros and the possible seizure of your scooter by the local police. So be careful and vigilant because you are not alone on the road.<br><br>
          
          <b>Requirements:</b>

          <ul>
            <li>The minimum age required is 16</li>
            <li>ID or driver’s license (copy retained)</li>
            <li>Minimum deposit of €50 per scooter (preferably by credit card or cash to avoid the deposit being released far too late by the banks)</li>
            <li>Acceptance and signature of the General Terms and Conditions</li>
          </ul>
          <br>
                    
          <h3 style="color: #5cb245;">Choose your duration time:</h3><br>

          <select name="electric-duration" id="electric-duration">
            <option value="" disabled selected>Choose your option</option>
            <option value="2hours">2 hours - 16€</option>
            <option value="4hours">4 hours - 24€</option>
            <option value="8hours">8 hours - 35€</option>
            <option value="24hours">24 hours - 50€</option>
            <option value="2days">2 days - 90€</option>
            <option value="3days">3 days - 126€</option>
          </select><br><br><br>

          <b>Choose your check-in time</b><br>
          Select the best time for you to pick up yours<br><br>

          <select name="electric-time" id="electric-time">
            <option value="" disabled selected>Choose your option...</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            </select><br><br>
            <h3 style="color: #5cb245;">Choose our Shop</h3><br>
            Select the shop you want pick up the bikes and start your ride! <br>
            <input type="radio" name="Shop1">Shop 1 | Happy Rental Bike : Calle Roger de Flor, 5. Tel: (+34) 933 28 58 34<br>
            
            <select name="urban-bike-qty" id="urban-bike-qty">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            
            <button>Add to cart</button>
        </div> 
      </div>
    </main>

    <%- include('partials/footer') %>
    
  </div>

  <script src="script.js"></script>
</body>
</html>
