<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kids Bike Rental</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div>
    <%- include('partials/header') %>

    <main>
      <h1>Partners</h1>
     
      <h3 style="color: #5cb245;">This is our partners links:</h3><br>

      Here you can find our friends, providers, partners and neighbours and their <br>

      <div class="image-grid">
        <a href="https://www.fisarentals.com/es/"><img src="partner1.jpg" alt="1"></a>
        <a href="https://www.historiadecatalunya.org/"><img src="partner2.webp" alt="2"></a>
        <a href="https://www.labodegaflamenca.com/"><img src="partner3.webp" alt="3"></a>
        <a href="https://www.facebook.com/busfoodportforum/?rf=348574211887600"><img src="partner4.webp" alt="4"></a>
        <a href="http://www.cancaldes.com/escuela-de-equitacion/"><img src="partner5.png" alt="5"></a>
        <a href="https://gocarbarcelona.com/"><img src="partner6.webp" alt="6"></a>
        <a href="https://www.ciudadelaparc.com/es?lang=uk"><img src="partner7.webp" alt="7"></a>
        <a href="https://anisaunders.com/"><img src="partner8.webp" alt="8"></a>
        <a href="www.velogear.com.au"><img src="partner9.webp" alt="9"></a>
        <a href="https://francaisabarcelone.com/"></a><img src="partner10.webp" alt="10"></a>
      </div>
    </main>

    <%- include('partials/footer') %>
    
  </div>

  <script src="script.js"></script>
</body>
</html>
