<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Discovering Barcelona by Bicycle</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div>
    <%- include('partials/header') %>

    <main>
      <div class="flex-container">
        <div class="bike-images">
          <img src="discovering1.webp" alt="discovering1"><br>
          <img src="discovering2.webp" alt="discovering2"><br>
          <img src="discovering3.webp" alt="discovering3"><br>
          <img src="discovering4.webp" alt="discovering4"><br>
          <img src="discovering5.webp" alt="discovering5"><br>
        </div>
        
        <div class="flex-child">
          <h1 style="color: #5cb245;">Discovering Barcelona by Bicycle</h1><br><br>

          Discover Barcelona through our Private tours, you choose your own route to a different discovery.<br><br>

          Are you going to be alone?<br>
          Accompanied…or with children?<br>
          First time in Barcelona?<br>
          How do you define yourself?<br><br>

          <h3 style="color: #5cb245;">Choose the tour that best suits you!</h3><br><br>

          We offer different routes and points of interest to improve your stay as much as possible; All tours are carefully organized to help you discover the city of Barcelona at its best angles.<br>

          <ul>
            <il>The groups have a maximum of 10 people, so that everyone can get the most out of the tour.</il>
            <li>The start and end of the tours are done in the same place, in the shop near the Ciutadella Park.(calle Roger de Flor, 5).</li>
            <li>You choose the starting time, in the schedules: Winter from 10:00 to 19:00 and Summer from 10:00 to 19:00.</li>
          </ul>
          We are waiting for you with the most beautiful smile!<br>

          Our guide is included in the price!

        </div> 
      </div>

      <div class="flex-container">
        <div class="column">
          <h3>Happy City tour(4 horas)</h3><br>
          With your happy guide<br>
          <ul>    
            <li>Starting point at the shop</li>
            <li>Ciutadella Park & Arc de triumf</li>
            <li>Sagrada Familia</li>
            <li>Monumental</li>
            <li>Glories Encantes Market & Torre Agbar</li>
            <li>Auditorium & national Theater</li>
            <li>Carrer de la Marina</li>
            <li>Villa Olímpica</li>
            <li>Port Olímpic</li>
            <li>The Barceloneta</li>
            <li>Hotel W</li>
            <li>Port Vell</li>
            <li>Colón</li>
            <li>Basilic of Santa Maria del Mar</li>
            <li>Market of Santa Catarina</li>
            <li>Cathedral</li>
            <li>Palace of Catalan Music</li>
            <li>Back to the shop</li>
          </ul>
          Group price (10 Pax max)<br>
          <button class="button-city">More Information</button>
          <!--#BC8F00-->
        </div>
        <div class="column">
          <h3>Happy Tour Gaudi & Modernism (3 horas)</h3><br>
          With your happy guide<br>
          <ul>      
            <li>We start in our shop</li>
            <li>Park of Ciutadella & Arc de triumf</li>
            <li>Estació del Nort (north station)</li>
            <li>Monumental</li>
            <li>Sagrada Familia</li>
            <li>Hospital Sant Pau</li>
            <li>Casa Terrades (Casa Les Punxes)</li>
            <li>Casa Milá</li>
            <li>Casa Batlló</li>
            <li>Casa Amatller</li>
            <li>Palace of Catalan music</li>
            <li>We’re going back to the store.</li>
            Group price (10 Pax max)
            <button class="button-gaudi">More Information</button>
          </ul><br>
        </div>
        <div class="column">
        <h3>Happy Tour Beach (2 hours)</h3><br>
          With your Happy guide<br>
          <ul>              
            <li>Starting point at the shop</li>
            <li>Ciutadella Park & Arc de triumf</li>
            <li>Cap of Barcelona</li>
            <li>Colón</li>
            <li>Port Vell</li>
            <li>Barceloneta</li>
            <li>Hotel W</li>
            <li>Port Olímpic</li>
            <li>Villa Olímpica</li>
            <li>We return to the store</li>
            Group price (10 Pax max)
            <button class="button-beach">More Information</button>
          </ul>
        </div>
        <div class="column">
          <h3>Tour a la carta 2 hours to 4 hours</h3><br>
          With your Happy guide<br>
          We start at our shop<br>
          Choose<br>
          Yourself<br>
          your own itinerary<br>
          We return to the shop<br>
          With budget<br>
          <button class="button-carta">More Information</button>
        </div>
      </div>
      
    </main>

    <%- include('partials/footer') %>
    
  </div>

  <script src="script.js"></script>
</body>
</html>
