body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #bike-list {
    list-style-type: none;
    padding: 0;
  }
  
  .bike-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .bike-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .bike-card {
    background: #101010;
    border: none;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
  }
  /* #5cb245 92 178 69*/
  .bike-card:hover {
    transform: scale(1.03);
  }
  
  .bike-card h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .bike-card p {
    margin: 10px 0;
  }
  img{
    border-radius: 10px;
  }
  
  .bike-footer {
    display: flex;
    justify-content: space-between; /* Esto pone el nombre a la izquierda y el precio a la derecha */
    align-items: center;
    margin-top: 10px;
  }